.cover-img{
    filter: brightness(100%);
    height: 80%;
}
.cover-container{
    position: relative;
    height: 650px;
}
.div-link{
    position: absolute;
    top: 50%;
    left: 4%;
}
.div-link span{
    color: white;
}
.cover-wrapper{
    position: relative;
}
.cover-card{
    align-items: center;
    background-color: white;
    width: 70%;
    height: 300px;
    bottom: 0;
    margin-left: 15%;
    margin-right: 15%;
    align-items: center;

}
#products-services-grid{
    margin: auto;
    margin-top: 30px;
    width: 90%;
    color:#041C43;
    display:grid;
    grid-template-columns: 2fr 1fr;
    font-weight: normal;
    border-left: 6px solid #041C43;
    padding-left: 30px;
}
.summary{
    display: grid;
    grid-column: 1/3;
}
.subtitle{
    color:#0090b4;
    font-weight:400;
}
.button{
    margin-top: 26.8px;
    width: 90px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color:#0090b4;
    color: white;
    cursor: pointer;
    outline: none;
}

.button:hover{
    background-color:#39c0e2;
}


.main-content{
    width:75%;
    column-gap: 20px;
}

.grid-card{
    color:#041C43;
    background-color: #F7F7F7;
    padding-left: 25px;
    height: 450px;
}

ul li{
    padding: 8px;
}
.middle-div div h1{
    color:#041C43;
}

